@media (max-width: 1399.98px) { 
    .container {
        max-width: 1090px;
    }
      /* Product Main  */
      .center-div {
        width: 35%;
    }
    .right-div,
    .left-div {
        width: 30%;
    }
    /* ------------- */
    /* Columns  */
    .section2-col-div {
        width: 31%;
        padding:40px 10px;
    }
 }

@media (max-width: 1199.98px) {
    .container {
        max-width: 990px;
    }
    .section1-text h1 {
        font-size: 35px;
    }
    /* ICONS  */
    .icons-column {
        flex-wrap: wrap;
    }
    .icons1 {
        max-width: 40px;
        height: 40px;
        margin: 30px 30px;
    }
    
      /* Columns  */
      .section2-col-div {
        width: 32%;
        padding:40px 10px;
    }
    .section2-col-div h2 {
        font-size: 22px;
        margin: 20px 0;
        
    }
    .section2-col div div p {
        font-size: 16px;
        line-height: 1.4rem;
    
    }
    .section2-col-div img {
        max-width: 120px;
        height: 80px;
    }
}
@media (max-width: 991.98px) { 
    header{
        position: static;
        width: 100%;
        height: auto;
        background: rgba(0, 0, 0, 0.89);
        border-bottom: 1px solid rgba(255, 255, 255, 0.212);
    }
    /* Hamburger} */

    .navigation {
        display: flex;
        align-items:flex-end;
        flex-direction: column;
        padding: 50px 0 0 0;
    }
    .navigation:last-child {
        align-items: center;
    }
    .burgerbar {
        display: block;
        position: absolute;
        top: 45px;
        right: 50px;
    }
    .nav-links {
        display: none;
    }
    .show {
        display: block;
        
        
    }
    .show.nav-links {
        padding: 50px 0 0 0;
        width: 100%;
        position: static;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    /* Columns  */
    .section2-col-div {
        width: 32%;
        padding:20px 5px;
    }
    .section2-col-div h2 {
        font-size: 20px;
        margin: 20px 0;
        
    }
    .section2-col div div p {
        font-size: 15px;
        line-height: 1.4rem;
    
    }
    .section2-col-div img {
        max-width: 100px;
        height: 60px;
    }
    /* Product Main  */
    .center-div {
        width: 35%;
    }
    .right-div,
    .left-div {
        width: 31%;
    }
    /* ------------- */
    /* Industry */
    .section5 {
        display: flex;
        justify-content: space-between;
        align-self: center;
    }
    .section5 div{
        width: 50%;
    }
    .section5 img {
        max-width: 450px;
        width: 100%;
    }

    /* ----------- */
    .information {
        flex-wrap: wrap;
    }
}
 @media (max-width: 769.98px) { 
     /* header */
     .section1-bg {
        height: 70vh;
    }
     .section1-text {
         flex-direction: column;
     }
     .section1-text h1 {
         font-size: 30px;
     }
     .section1 p {
        color: white;
        font-size: 20px ;
    }
    /* Columns  */
        .section2-col {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            width: 100%;
        
        }
        .section2-col-div {
            width: 80%;
            padding:20px 5px;
            margin: 10px auto;
        }
    /* ------------------ */
   /* Industry */
   .section5 {
    flex-direction: column;
    }
    .section5 div{
        width: 80%;
        margin: 0 auto;
    }
    /* Product Main  */
    .product-columns {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .center-div {
        width: 65%;
        background-color: #222831;
        padding: 90px 15px 25px;
        margin: 10px 0;
          
        
    }
    
    .right-div,
    .left-div {
        width: 55%;
        background-color: #3b5875de;
        padding: 70px 15px 20px;
    }
    /* ------------- */
    /* ---- Benefits ---- */
    .benefit-div {
      flex-wrap: wrap;
    }
    .benefit-div div {
        width: 43%;
    }
    .benefit-div div:last-child{
        margin: 0 auto;
        margin-top: 20px;
    }
       /* WE Keep */
    .wekeep-company {
        flex-wrap: wrap;
    }
    .wekeep-company .wekeep-col {
        padding: 10px;
        width:35%;
    }
    /* ------------- */
    .footer-form {
        margin-top: 30px;
      }

  }
@media (max-width: 575.98px) { 
    .header {
        padding: 40px 0;
    }
    .btn-group {
        right: 15px;
    }
    .burgerbar {
        display: block;
        position: absolute;
        top: 65px;
        right: 15px;
    }
    .navigation .whitelogo{
    max-width: 150px;
    width: 100%;
    position: absolute;
    top:15px;
    left: 15px;
    }
    .navigation .ittechwhitelogo{
        max-width: 80px;
        width: 100%;
        position: absolute;
        top: 50px;
        left:15px;
        
    }

    /* Columns  */
    .section2-col {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
    
    }
    .section2-col-div {
        width: 100%;
        padding:30px 15px;
        margin: 10px auto;
    }
    .section2-col-div img {
        position: absolute;
        top: 0px;
        right: -10px;
    }
    /* ------------------ */
    /* Product Main  */
    .center-div {
        width: 95%;
        background-color: #222831;
        padding: 90px 15px 25px;
        margin: 10px 0; 
    }
    .right-div,
    .left-div {
        width: 85%;
        background-color: #3b5875de;
        padding: 70px 15px 20px;
    }
    /* ------------- */
    /* ---- Benefits ---- */
    .benefit-div {
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .benefit-div div:last-child{
        margin: 0 auto;
        margin-top: 0;
    }
    .benefit-div div {
        width: 80%;
        margin-top: 20px;
    }
     /* Industry */
   .section5 {
    flex-direction: column;
    }
    .section5 div{
        width: 100%;
        margin: 0 auto;
    }
    /* ---------------- */
    
    /* WE Keep */
    .wekeep-company {
        flex-wrap: wrap;
    }
    .wekeep-company .wekeep-col {
        padding: 10px;
        width: 49%;
    }
    /* Section 6  */
    .section6 {
        display: none;
    }
    /* footer  */
    .footer-left-side,
    .footer-right-side,
    .footer-form {
      width: 100%;
      margin-right: 0;
    }
    #footer input {
        width: 250px;
    }
    #footer textarea{
            width: 250px;
    }
}