/* defaults  */
@import url("//cdn.web-fonts.ge/fonts/alk-tall-nusxuri/css/alk-tall-nusxuri.min.css");
@import url("//cdn.web-fonts.ge/fonts/bpg-glaho-arial/css/bpg-glaho-arial.min.css");
@import url("//cdn.web-fonts.ge/fonts/bpg-nino-mkhedruli-book/css/bpg-nino-mkhedruli-book.min.css");
@import url("//cdn.web-fonts.ge/fonts/bpg-rioni/css/bpg-rioni.min.css");
html{
    scroll-behavior: smooth;
}
body {
    background-color: #f6f5f5;
    line-height: 1.3;
    font-family: "BPG Glaho Arial", sans-serif;
    text-decoration: none;

}
img {
    width: 100%;
}
.container{
    max-width: 1400px;
    width: 95%;
    margin: 0 auto;
}
h1 {
    font-size: 40px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 25px;
}
h2 {
    font-size: 20px;
    font-weight: 500px;
    color: #323e48;
    margin: 20px 0;
}
h3 {    
    line-height: 1.55rem;
    font-size: 1.5rem;
    color: white;
}
h5 {
    line-height: 1.55rem;
    font-size: 1.5rem;
    color: white;
}
/* header */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 20px 0;
    background: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    z-index: 4;
    transition: all 1s ease;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.navigation .whitelogo,
            .logo{
    max-width: 190px;
    width: 100%;
    position: absolute;
    left: 50px;
    top: 40px;


}
.navigation .ittechwhitelogo,
            .ittechlogo{
    max-width: 60px;
    width: 100%;
    position: absolute;
    left:270px;
    top: 20px;
 
}
.logo,
.ittechlogo {
    display: none;
}
.nav-links {
    display: flex;
    align-items: center;
    position: absolute;
    right: 50px;
    top: 40px;
}
.navigation ul a {
    padding: 10px 15px;
    color: white;
    transition: all 0.5s ease;
    font-size: 18px;
    font-family: 'BPG Ucnobi';
}
.navigation ul a:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 6px;
    
}
.btn-group{
    position: absolute;
    z-index: 6;
    top:  10px;
    right: 50px;
    height: 30px;
    
}
.language {
    margin: 0px 10;  
    color:white;
}
.divider {
    width: 2px;
    height: 15px;
    background-color: white;
    margin: 0 10px;
}
.active {
    text-decoration: underline;
    color: #44a2ff;
}
/* Hamburger} */
.burgerbar {
    background-color: transparent;
    font-size: 25px;
    color: #fff;
    border: 0;
    cursor: pointer;
    display: none;
}
.burgerbar:focus {
    outline: none;
}



.show {
    display: block;
}
/*  ---scrolled----- */
.scrolled {
    background: #f6f5f5;
    border-bottom: 1px solid #fff;
    z-index: 4;
    box-shadow: 0 5px 10px rgba(187, 187, 187, 0.5);
    transition: all 1s ease;
}
.scrolled .logo {
    display: block;
}
.scrolled .ittechlogo {
    display: block;
}
.scrolled .whitelogo{
    display: none;
}
.scrolled ul  a {
    color: black;
    font-size: 18px;
}
.scrolled ul a:hover {
    background-color: rgba(187, 187, 187, 0.5);
    border-radius: 6px;
    
}
.scrolled .language{
    color: #000;
}
.scrolled .active {
    color: red;
}
/* section1 */
.section1-bg {
    background-image: url(../img/header1.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.section1-bg::after {
    content: "";
    background-color: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0.5;
}
.carousel {
    width: 100%;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.carousel-indicators {
    bottom: -150px;
}
.section1-text {
    line-height: 1.55;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 100%;
 
}

.section1-text p {
    color: white;
    font-size: 25px ;
    margin-bottom: 30px;
    width: 80%;
    z-index: 2;
}

/* section2 */
#columns {
    padding: 40px 0 80px 0;
}

.section2-column {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #ccc;
    box-shadow: 0 15px 10px -14px rgb(0 0 0 / 31%);
    align-items: center;
    background-color: #ffffffd5;
}
.section2-column div {
    padding: 150px 50px 150px 20px;
    width: 50%;
}
.section2-col {
    display: flex;
    justify-content: space-between;
    width: 100%;

}
.imageinheader {
    width: 50%;
}
.section2-column h2,
.section2-column p {
    color: rgb(54, 54, 54);
    margin: 35px 0;
}
.section2-col-div {
   width: 31%;
   border: 1px solid #ccc;
   box-shadow: 0 15px 10px -14px rgb(0 0 0 / 31%);
   padding:60px 20px;
   position: relative;
   background-color: #ffffffd5;
   margin-top: 25px;
   border-radius: 10px;
   transition: all 0.2s ease;
}
.section2-col-div a {
    position: absolute;
    bottom: 10px;
    right:10px;
    padding: 5px 20px;
    color: #1687a7;
    transition: all 0.5s ease;
    border: rgba(70, 145, 214) 1px solid;
    border-radius: 15px;
}
.section2-col-div a:hover {
    color: white;
    background-image: linear-gradient(to right,#222831, #3b5875);
}
.section2-col-div h2 {
    font-size: 25px;
    font-weight: 700px;
    color: #464545;
    margin: 20px 0;
    
}
.section2-col div div {
    padding: 10px;
}
.section2-col div div p {
    margin: 20px 0;
    font-size: 16px;
    line-height: 1.5rem;
    color: #4b4b4b;

}
.section2-col-div:hover {
 
    transform: scale(1.02);
}
.section2-col-div img {
    max-width: 120px;
    height: 80px;
    position: absolute;
    top: -10px;
    right: -40px;
    z-index: 2;
    transition: all ease 0.5s;
}
/* section3 */
#iconssection {
    background-image: linear-gradient(to right,#222831, #3b5875);
    padding: 50px 0;
}
.section3 {
    padding: 10px 0;
}
.section3 div p {
    color: white;
    font-size: 16px;
    line-height: 1.5rem;
    margin: 25px 0;
    width: 50%;
}
.icons-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0 ;
}
.icons1 {
    max-width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    transition: all 0.5s ease ;
    margin: 20px 20px;
}
.icons1:hover {
    transform: scale(1.2);
    color: white;
}
.icons1 img {
    margin-bottom: 15px;
}
/* section4 */
#product {
    padding: 50px 0 150px 0;
}
.product-columns {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

#product  h2 {
    margin-top: 0 ;
    font-size: 36px;
    color: rgb(0, 0, 0);

}
#product  h4 {
    margin-top: 0 ;
    font-size: 20px;
    color: white;

}
.product-columns div {
    transition: all 0.2s ease ;
}
.product-columns div:hover{
    transform: scale(1.04);
}
.center-div {
    width: 25%;
    background-color: #222831;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 200px 30px 80px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 12px 6px -6px black;
      
    
}

.right-div,
.left-div {
    width: 25%;
    background-color: #3b5875;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 180px 30px 50px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 12px 6px -6px rgba(0, 0, 0, 0.836);

}
.first,.second {
    width: 25%;
    background-color: #3b5875de;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 160px 30px 30px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 12px 6px -6px rgba(0, 0, 0, 0.836);

}
#product a{
    float: right;
    margin: 50px 0 0 0;
    color: rgb(255, 255, 255);
    transition: all ease 0.5s;
}
#product a:hover{
    color: rgb(204, 32, 32);
}
/* section5 */
#industry {
    background-image: linear-gradient(to right,#222831, #3b5875);
    padding: 50px 0;
}

.section5 {
    display: flex;
    justify-content: space-between;
    align-self: center;
}
.section5 div{
    width: 50%;
}
.section5 div p {
    margin: 25px 0;
    font-size: 16px;
    line-height: 1.5rem;
    color: white;
}
.industry-img {
    animation: fade 1s infinite alternate-reverse;
}
@keyframes fade {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}
/* ---------------- */

.partners .container {
    padding: 50px 30px 80px ;
}
.partners h3 {
    text-align: center;
    margin: 50px 0;
    font-size: 35px;
    color: #000;
    font-weight: bold;
}
.partners-div {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.card{
    border: none;
    background-color: transparent;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 30px 15px 90px;
}
.card img {
    max-width: 250px;
    width: 100%;
}
.card div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card p {
    position: absolute;
    bottom: 30px ;
    left: 25px;
    width: 80%;
}


.wekeep h2 {
    font-size: 30px;
    text-align: center;
}
.wekeep-company {
    display: flex;
    justify-content: space-between;
    align-items:center;

}
.wekeep-company .wekeep-col {
    padding: 10px;
    transition: transform .2s;
    width: 18%;
}
.wekeep-company .wekeep-col:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);

}
/*  Form Tags  */
.Forms {
    padding: 110px 0 80px ;
}

.tags {
    padding: 30px 0 80px ;

    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.tags img {
    width: 80%;
}
.Forms h3 {
    color: #000;
    font-size: 30px;
    margin-bottom: 50px;
}howsdwanworks-column
.Forms textarea {
    resize: none;
}
.Forms button {
    background-color: #323e48;
    padding: 10px 35px;
    border: none;
}
.Forms button:hover {
    background-color: #52789e;
}
.mb-4 {
    margin-bottom: 5px!important;
}
/* ========== */
.section6 {
    padding: 90px 0;
    background-image: linear-gradient(to right,#222831, #3b5875);
    position: relative;
}
.section6-div {
    display: flex;
    justify-content: space-between;
    align-items:stretch;
    color: white;

}
.section6-div h2 {
    color: white;
}
.seciton6-text {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    
}
.section6 iframe {
    width: 600px;
    height: 300px;
    position: absolute;
    bottom: 0;
    right: 80px;
    border-top-left-radius:10px ;
    border-top-right-radius:10px ;
}
/* ----------------------- */

#where {
    position:fixed;
    right: 50px;
    bottom: 20px;
    padding: 15px 35px;
    border-radius: 20px;
    background-color:#ef4f4f;
    z-index: 4;
}
.fixed {
    position: fixed;
}
#where a{
    font-size:20px;
    color: white;

}
/* ------------ */
#Benefits{
    background-image: linear-gradient(to right,#222831, #3b5875);
    padding: 50px 0;
    text-align: center;
}
#Benefits h5 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px ;
   
}
#Benefits h6 {
    margin: 20px 0 10px;
    font-size: 20px;
}
.benefit-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.benefit-div div {
    width: 31%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon {
    font-size: 45px;
    color:#ff2e63;
    opacity: 0.7;
}
.benefit-div p {
    font-size: 16px;
    line-height: 1.5;
}
/* ----------------------- */
/* Call Reques  */
#call{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    background-color:#ef4f4f;
    color: white;
    position: fixed;
    right: 0;
    top:50%;
    font-size: 25px;
    z-index: 5;
    transition: all 0.5s ease ;
}
.callhover {
    display: none;
    font-size: 18px;
    transition: ease-in-out 1s all;
}
#call:hover .callhover{
    display: inline-block;
    transition: ease-in-out 1s all;

}
/* ========== FOOTER =================== */
.site-footer
{
  background-color:#121013;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer img {
  width: 250px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#ef4f4f;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px;
  margin-bottom: 15px;
}
.site-footer a
{
  color:#ffffff;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#e0e0e0;
}
.footer-links i {
  margin-right: 15px;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#be78d3;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.instagram {
  font-size: 20px;
}
.social-icons a.instagram:hover
{
  background-color:#882b88
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
/* =========== */
/* ------------------------------------------------- */
#aboutnetwork {
    padding: 50px 0 10px;
}
.whatis {
     background-image: url(../img/header.jpg);
    width: 100%;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 250px 0;
    position: relative;

}
.whatis::after {
    content: "";
    background-color: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0.5;
}
.aboutnetwork {
    margin-top: 35px;
}
.whatis h5 {
    font-size: 40px;
    line-height: 1.5;
}
.whatis-div {
    position: absolute;
    z-index: 3;
}
/* ------ */
.Security-Driven {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.network-h5 {
    color: #000;
    font-size: 24px;
    line-height: initial;
}
.network-p {
    font-size: 18px;
    line-height: 1.5rem;
    color: #5a646c;
    margin: 25px 0;
    font-weight: 400;
}

.Security-Driven div {
    width: 55%;
    vertical-align: middle;
}
.Security-Driven iframe {
    width: 40%;
}
/* ----for busines--- */
.finding {
    padding: 30px 0 50px ;
}
.finding  h1 {
    color: #000;
}
.forbussines {
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right,#f6f5f5, #d3e0ea);
    padding: 30px 0 50px;
}
.security-system {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
.security-system img {
    max-width: 350px;
    width: 100%;
}
.security-system div {
    width: 60%;
}
/* -----------SD WAN ------------- */
.SDWAN-header {
    background-image: url(../img/header.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 70vh;
    padding: 250px 0;

}
.SDWAN-header::after {
    content: "";
    background-color: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0.5;
}
/* ================== */

.SDWAN-header-column {
    position: absolute;
    z-index: 3;
    top: 50%;
}
.SDWAN-header-column h1 {
    margin-bottom: 50px;
    font: 35px bold;
    line-height: 1.5;
}
.SDWAN-header-column p {
    color: white;
    font-size: 18px;
    line-height: 1.5;
}
.SDWAN-header img {
    width: 25%;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-30%);
    z-index: 3;
}
.SDWAN-header-col {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* ======================= */
.whatissdwan {
    padding: 50px 0;
    
}
.SD-WAN-Explained {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}
.SD-WAN-Explained div {
    width: 60%;
}
.SD-WAN-Explained p {
    width: 70%;
}
/* ----------- Learn ========== */
.learnsdwan {
    background-image: linear-gradient(to right,#222831, #3b5875);
    padding: 50px 0;
}
.learnsdwan div {
    margin: 0 auto;
}
.learnsdwan h3 {
    margin-bottom: 30px;
}
.learnsdwan a {
    border: white 2px solid;
    padding: 10px 20px;
    color: white;
    transition: all 0.5s ease;
}
.learnsdwan a:hover{
    background-color: rgba(255, 255, 255, 0.5);
    
}
/* ======= how SD wan works ============ */
.how {
    background-image: linear-gradient(to right,#f6f5f5, #d3e0ea);
    padding: 30px 0;
}

.howsdwan h2{
    text-align: center;
    font-size: 35px;
    line-height: 1.5;
    margin: 0;
}
.howsdwanworks {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.howsdwanworks img {
    width: 100%;
    max-width: 360px;
    align-items: center;
}
.howsdwanworks-column {
    width: 45%;
    margin: 0 auto;
}
.nextgeneration {
    width: 60%;
}
/* ---------------- */
.historysdwan {
    background-image: linear-gradient(to right,#f6f5f5, #3b587593);
    padding: 30px 0;
}
.historysdwan strong{
    font-weight: 900;
    

}

/* ======= contact us ========*/
.contact-bg {
    background-image: url(../img/contactus.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    padding: 250px 0;
}
.contactus {
    padding: 100px 0;
}
.contactus-div {
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
}
.contactus-form {
    width: 100%;
    height:100vh;

}
.contactus-form-col {
    width: 40%;
    display: flex;
    flex-direction: column;
}
.con  {
    padding: 100px 0;
}
.contactus-form-col h5 {
    color: black;
    margin-bottom: 15px;
}
.contactus-form-col a {
    margin: 10px 0;
    color: rgba(12, 10, 10, 0.692);
    transition: all 0.2s ease;
}
.contactus-form-col a:hover {
    color:  #BD11FA;
}
.contactus-form-col iframe {
    margin-top: 15px;
    border: 2px #363434 solid;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.219);
}
.container-fluid {
    display: none;
}
/* =========================== */